body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
  }
  
  .container {
    text-align: center;
    max-width: 800px;
    width: 100%;
  }
  
  .content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .ingredients,
  .steps {
    flex: 1;
  }

#imageContainer img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}